@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  --bs-border-width: 3px;
}

* {
  margin: 0%;
  padding: 0%;
}

a {
  color: white;
  text-decoration: none;
}

.h1 {
  color: #8A211B;
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 0%;
}

/* .heading{
  padding-bottom: 1rem;
} */
.sub-heading {
  color: #8A211B;
}

.padding {
  padding: 3rem 0;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgb(0 0 0) !important;
}

.navbar>.container {
  flex-wrap: wrap;
}

img {
  width: 100%;
  object-fit: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0;

}

.head {
  margin: 0;
  background-color: #3C3C3C;
  padding: 4px 0;
}

.navbar {
  height: auto;
  width: 100%;
}

.social {
  display: flex;
  list-style: none;
  gap: 1rem;
  font-size: 1rem;
  margin: 0%;
}

.highlighted-item a {
  color: rgb(235, 206, 42);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.highlighted-item {
  animation: shake 5s infinite;
}


.sub-head {
  color: white;
  display: flex;
  list-style: none;
  gap: 1rem;
  font-size: .7rem;
  margin: 0%;
  padding: 0;
  margin-right: 2rem;


}

.sub-head-icon {
  margin-right: 5px;
  margin-bottom: 2px;
  color: rgb(248, 227, 105);
  font-size: .7rem;
}


.items-sub-head {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.items-sub-head:hover {
  border-bottom: 1px solid rgb(235, 206, 42);
}

.img-logo {
  height: 20%;
  width: 20%;
  /* margin-right: 40rem; */
}

/* --------Nav-------- */
.navbar2 {
  background-color: #8A211B;
}

.main-head {
  color: white;
  display: flex;
  list-style: none;
  gap: 3rem;
  font-size: 1.2rem;
  margin: 0%;
  padding: .2rem;
}

.header-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* ------------Banner---------------- */
.banner-img {
  height: calc(100vh - 187px);

}

.banner {
  position: relative;
  display: inline-block;
  width: 100%;
}



.overlay {
  position: absolute;
  top: 80%;
  left: 0;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
  width: 100%;

}

/* -----------botton text------------------------ */

.overlay-bottom-text {
  position: absolute;
  top: 90%;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  color: white;
  text-align: center;
  width: 100%
}

.overlay-bottom-text h2 {
  margin: 0;
  font-size: 2em;
  font-weight: 600;
  width: 100%;
  color: rgb(235, 206, 42);
  font-family: 'Times New Roman', Times, serif;
}

.banner-subtext {
  width: 100%;
}

.admission {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
  padding-top: .4rem;
  padding-bottom: .4rem;
  left: 50%;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #8A211B;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.tour-button {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: .4rem;
  padding-bottom: .4rem;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #8A211B;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.career-button {
  position: relative;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: .4rem;
  padding-bottom: .4rem;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #8A211B;
  cursor: pointer;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* -------------------About Us------------------------ */
.about-us-section .welcome-section-padding {
  position: relative;
  width: 100%;
  padding: 100px 0;
}

.about-us-section .about-desc h6 {
  text-transform: uppercase;
}

.about-us-section .about-desc h6 i {
  padding-right: 8px;
}

.about-us-section .about-us-into-btn-2 {
  color: #fff;
  background-color: #8A211B;
  padding: 8px 30px;
}

.about-us-section .about-us-into-btn-icon {
  color: #333;
  background-color: #eee;
  padding: 8px 20px;
}

.about-us-section .about-us-into-btn-icon i {
  font-size: 14px;
}

.about-us-section .about-us-into-btn-icon,
.about-us-section .about-us-into-btn-2 {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.about-us-section .about-us-into-btn-2:before,
.about-us-section .about-us-into-btn-icon:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.about-us-section .about-us-into-btn-2:hover:before,
.about-us-section .about-us-into-btn-2:focus:before,
.about-us-section .about-us-into-btn-2:active:before,
.about-us-section .about-us-into-btn-icon:hover:before,
.about-us-section .about-us-into-btn-icon:focus:before,
.about-us-section .about-us-into-btn-icon:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.about-us-section .about-us-into-btn-2:hover,
.about-us-section .about-us-into-btn-2:focus,
.about-us-section .about-us-into-btn-2:active,
.about-us-section .about-us-into-btn-icon:hover,
.about-us-section .about-us-into-btn-icon:focus,
.about-us-section .about-us-into-btn-icon:active {
  color: #fff;
}

.about-us-section .about-wel-img-sec {
  position: relative;
  display: inline-block;
  margin-right: 30px;
}

.about-us-section .about-wel-img-sec:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 30px;
  left: 30px;
  border: 10px solid #1B5B38;
  z-index: -1;
}

.about-us-section .img-overlay:before {
  background: rgba(0, 0, 0, 0.8);
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}

.about-us-section .about-wel-img-sec a {
  background: #fff;
  font-size: 25px;
  display: block;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.about-us-section .about-wel-img-sec a i {
  z-index: 3;
  position: relative;
}

.about-us-section .about-wel-img-sec a:before,
.about-us-section .about-wel-img-sec a:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%);
  -ms-transform: translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.about-us-section .about-wel-img-sec a:before {
  -webkit-animation: pulse-border 1500ms ease-out infinite;
  animation: pulse-border 1500ms ease-out infinite;
}

.about-us-section .about-wel-img-sec a:after {
  transition: all 200ms;
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}


/* -------------------Upcoming Events---------------------- */
.media {
  border: 1px solid #efefef;
  transition: 0.5s;
  display: flex;
}

.media:hover {
  box-shadow: 0px 2px 18.9px 8.1px rgba(204, 204, 223, 0.4);
}

.media-head {
  padding: 25px;
  text-align: center;
  width: 165px;
}
#media1{
  background-color: #8A211B;
}
#media2{
  background-color: #1B5B38;
}

.media-head span {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0;
}

.media-head span sub {
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 7px;
}

.media-head p {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0;
  line-height: 50px;
  margin-top: 5px;
  margin-bottom: 0;
}

.media-body {
  flex: 1;
  padding-left: 50px;
}

.media-body h4 a {
  font-size: 24px;
  font-weight: 700;
  color: #252525;
  letter-spacing: 0;
  margin-bottom: 10px;
  display: block;
}

.media-body p {
  font-weight: 400;
  margin-bottom: 0;
}

.media-body p i {
  color: #8B221A;
  margin-right: 8px;
}

/* --------------------Stats Dislplay----------------------- */
.stats-display{
  background-color: #f4f4f4;
}
.stats-heading{
  text-align: center;
  margin-bottom: 2rem;
}
.stats-display .element {
  display: flex;
  width: 100%;
  
}

.stats-display .element-items {
  width: calc(100% / 5);
}

.stats-display .element-icon img {
  height: 100px;
  width: 100px;
  margin-left: 30%;
}

.stats-display .element-content {
  padding: 70px;
  text-align: center;
  color: white;
  font-weight: 600;
}

#stats-content-1 {
  background-color: #1B5B38;
}

#stats-content-2 {
  background-color: #8A211B;
}























/* ------------------------Media Query---------------------------- */
@media only screen and (max-width: 1366px) {
  .admission {
    left: 39%;
  }

  .overlay {
    top: 68%;
  }

  .overlay-bottom-text {
    top: 84%;
  }
}